#toast-container {
  position: fixed;
  top: 3rem;
  right: 4rem;
}

.toast {
  min-width: 20rem !important;
  max-width: 95rem !important;
  height: 4rem;
  line-height: 4rem;
  font-family: Montserrat-Light, sans-serif;
  font-size: 1.4rem !important;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  background-color: #80808023;
}

.error {
  color: red !important;
}

.success {
  color: green !important;
}